.encabezado{
    background: linear-gradient(rgba(86, 38, 199, 0.766),black, blueviolet);
    text-align: center;
    margin: auto;
    padding: 50px;
    font-size: 50px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.navegacion li {
    display: inline;
}
.navegacion{
    list-style: none;
    padding: 0;
    margin: 50px;
}
.navegacion li a {
    padding: 10px;
    text-decoration: none;
    color: #000; /* Color del texto */
    background-color: #00000018; /* Color de fondo */
    border-radius: 5px;
    margin-right: 100px; /*- Espacio entre los elementos */
}
.titulo-1 {
    color: #000;
}
body {
    background: scroll;
    background: rgba(rgba(143, 14, 178, 0.771), rgba(208, 157, 222, 0.912), rgb(175, 87, 238), alpha);
}
.img_inicio {
    background-image: url(PG2024.png);
    background: black;
    background-size: cover;
}
.box {
    width: 470px;
    height: 700px;
    background: #e0e0e0;
    margin: 20px 0 20px 20px;
    box-shadow: 0 0 40px #0007;
    padding: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #444;
    text-align: left;
}
.cardBody {
    width: 400px;
    font-family: sans-serif;
    padding: 20px;
}
.namef {
    font-size: 25px;
    font-family: sans-serif;
}
.cardImage {
    background-image: none;
    border-radius: 10px;
}
.cardInfo {
    font-size: 15px;
    font-family: sans-serif;
}
.cardrrss {
    font-size: 16px;
    font-family: sans-serif;
    color: #000;
}
.cardImagen {
    width: 400px;
    height: 500px;
}

footer {
    margin: 600px;
    margin-right: 0px;
    margin-left: 0px;
    background: linear-gradient(white, rgba(100, 50, 150, 0.65));
    display: block;
    padding: 50px 60px 50px 700px;
}
